In [361]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [362]:
data = pd.read_csv("IMDb Movies India.csv" , encoding="ISO-8859-1")

In [363]:
data.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [364]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [365]:
data["Year"].unique()

array([nan, '(2019)', '(2021)', '(2010)', '(1997)', '(2005)', '(2008)',
       '(2012)', '(2014)', '(2004)', '(2016)', '(1991)', '(1990)',
       '(2018)', '(1987)', '(1948)', '(1958)', '(2017)', '(2020)',
       '(2009)', '(2002)', '(1993)', '(1946)', '(1994)', '(2007)',
       '(2013)', '(2003)', '(1998)', '(1979)', '(1951)', '(1956)',
       '(1974)', '(2015)', '(2006)', '(1981)', '(1985)', '(2011)',
       '(2001)', '(1967)', '(1988)', '(1995)', '(1959)', '(1996)',
       '(1970)', '(1976)', '(2000)', '(1999)', '(1973)', '(1968)',
       '(1943)', '(1953)', '(1986)', '(1983)', '(1989)', '(1982)',
       '(1977)', '(1957)', '(1950)', '(1992)', '(1969)', '(1975)',
       '(1947)', '(1972)', '(1971)', '(1935)', '(1978)', '(1960)',
       '(1944)', '(1963)', '(1940)', '(1984)', '(1934)', '(1955)',
       '(1936)', '(1980)', '(1966)', '(1949)', '(1962)', '(1964)',
       '(1952)', '(1933)', '(1942)', '(1939)', '(1954)', '(1945)',
       '(1961)', '(1965)', '(1938)', '(1941)', '(1931)', '(1937)',
       '(2022)', '(1932)', '(1923)', '(1915)', '(1928)', '(1922)',
       '(1917)', '(1913)', '(1930)', '(1926)', '(1914)', '(1924)'],
      dtype=object)

In [366]:
data["Year"] = data["Year"].str.replace(r'[^\d]', '', regex=True)
data["Year"] = data["Year"].astype('float32')

In [367]:
data["Year"].isnull().sum()

528

In [368]:
x = int(data["Year"].mean())
data["Year"] = data["Year"].fillna(x)

In [369]:
data["Year"].isnull().sum()

0

In [370]:
data["Actor 1"].unique()

array(['Manmauji', 'Rasika Dugal', 'Sayani Gupta', ..., 'Meghan Jadhav',
       'Roohi Berde', 'Sangeeta Tiwari'], dtype=object)

In [371]:
actor_columns = ["Actor 1", "Actor 2", "Actor 3" , "Director"]

all_names = []
for col in actor_columns:
    all_names.extend(data[col].tolist())

unique_names = list(set(all_names))
name_to_number = {name: idx for idx, name in enumerate(unique_names)}

In [372]:
data["Actor 1"] = data["Actor 1"].apply(lambda x : name_to_number[x])

In [373]:
data["Director"] = data["Director"].apply(lambda x : name_to_number[x])

In [374]:
data.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,1987.0,NaN,Drama,NaN,NaN,10217,4549,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),2019.0,109 min,Drama,7.0,8,9056,12004,Vivek Ghamande,Arvind Jangid
2,#Homecoming,2021.0,90 min,"Drama, Musical",NaN,NaN,10843,11514,Plabita Borthakur,Roy Angana
3,#Yaaram,2019.0,110 min,"Comedy, Romance",4.4,35,10643,3934,Ishita Raj,Siddhant Kapoor
4,...And Once Again,2010.0,105 min,Drama,NaN,NaN,9804,5230,Rituparna Sengupta,Antara Mali

In [375]:
data["Votes"] = data["Votes"].str.replace(',' , '')
data["Votes"] = data["Votes"].str.replace('$' , '')
data["Votes"] = data["Votes"].str.replace('M' , '')
data["Votes"] = data["Votes"].astype('float32')

In [376]:
x =int(data["Votes"].mean())
data["Votes"].fillna(x ,inplace =True)

In [377]:
data["Rating"].isnull().sum()

7590

In [378]:
data.shape

(15509, 10)

In [379]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      15509 non-null  float32
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     15509 non-null  float32
 6   Director  15509 non-null  int64
 7   Actor 1   15509 non-null  int64
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float32(2), float64(1), int64(2), object(5)
memory usage: 1.1+ MB

In [380]:

data["Duration"] = data["Duration"].replace(r'\D+', '', regex=True)

data["Duration"] = pd.to_numeric(data["Duration"], errors='coerce')

mean_duration = data["Duration"].mean()

data["Duration"].fillna(mean_duration, inplace=True)

data["Duration"] = data["Duration"].astype("int32")

In [381]:
def split_genre_column(MovieData,Genre):
   
    data['Genre1'] = data[Genre].str.split(',', expand=True)[0]
    data['Genre2'] = data[Genre].str.split(',', expand=True)[1]
    data['Genre3'] = data[Genre].str.split(',', expand=True)[2]
    return data

split_genre_column(data,'Genre')
data.drop("Genre"  , axis = 1 , inplace = True)

In [382]:
data.head()
data["Rating"] = data["Rating"].dropna()

In [383]:
data.drop("Genre3" , axis = 1 , inplace = True )

In [384]:
data.dropna(subset=["Rating"], inplace=True)

In [385]:
data.drop("Genre2" , axis = 1 ,  inplace = True)

In [386]:
data.drop("Name" , axis = 1 ,  inplace = True)

data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7919 entries, 1 to 15508
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      7919 non-null   float32
 1   Duration  7919 non-null   int32
 2   Rating    7919 non-null   float64
 3   Votes     7919 non-null   float32
 4   Director  7919 non-null   int64
 5   Actor 1   7919 non-null   int64
 6   Actor 2   7719 non-null   object
 7   Actor 3   7627 non-null   object
 8   Genre1    7817 non-null   object
dtypes: float32(2), float64(1), int32(1), int64(2), object(3)
memory usage: 525.9+ KB

In [387]:
data.dropna(subset = ["Genre1"] , inplace = True)

In [388]:
data.drop(["Actor 2" , "Actor 3"] , axis = 1 , inplace = True)

In [389]:
dict = {} 
dict = {value : key for key , value in enumerate(data["Genre1"])}

In [390]:
data["Genre1"] = data["Genre1"].apply(lambda x : dict[x])

In [391]:
data["Genre1"] = data["Genre1"] - 3313

In [392]:
data['LogVotes']=np.log1p(data['Votes'])
data['LogVotes']

1        2.197225
3        3.583519
5        6.719013
6        6.991177
8        5.789960
           ...
15501    4.912655
15503    3.806663
15504    2.484907
15505    6.486161
15508    3.044523
Name: LogVotes, Length: 7817, dtype: float32

In [393]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7817 entries, 1 to 15508
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      7817 non-null   float32
 1   Duration  7817 non-null   int32
 2   Rating    7817 non-null   float64
 3   Votes     7817 non-null   float32
 4   Director  7817 non-null   int64
 5   Actor 1   7817 non-null   int64
 6   Genre1    7817 non-null   int64
 7   LogVotes  7817 non-null   float32
dtypes: float32(3), float64(1), int32(1), int64(3)
memory usage: 427.5 KB

In [394]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error , r2_score

In [395]:
x = data.drop("Rating" , axis = 1)
x.drop("Votes" , axis = 1 , inplace = True )
y = data["Rating"]

In [396]:

xtrain , xtest , ytrain , ytest =train_test_split(x,y ,test_size=0.2,random_state=52)

model=LinearRegression()
model.fit(xtrain,ytrain)

ypred= model.predict(xtest)

mse =mean_squared_error(ytest,ypred)
print(f"Mean Squared Error (MSE): {mse:.2f}")

r2 = r2_score(ytest,ypred)
print(f"R-squared score: {r2:.2f}")

Mean Squared Error (MSE): 1.72
R-squared score: 0.11